/* General Button Styles -------------------- */

button {
	text-transform: uppercase;
	border-radius: 22px;
	border: none;
	font-weight: bold;
}

button.btn-light, button.btn-dark {
	@include type-setting(-2);
	color: $black;
	letter-spacing: 0.05rem;;
	padding: 0.35rem 1rem;
}

button.btn-light {
	background-color: $white;
	border-color: rgb(255, 255, 255);
	color: $black;

	&:hover {
		color: $black;
		background: #ddd;
	}
}

button.btn-dark {
	background: $black;
	color: $white;
	border-color: transparent;

	&:hover {
		color: $white;
		background: $black;
	}
}

button[type="submit"] {
	@include type-setting(1);
	letter-spacing: 0.25rem;
	margin-top: $base-line-height;
	margin-bottom: 0;
	padding: $base-line-height / 4 $base-line-height;

	&:hover {
		color: #af404c;
		border-color: #af404c;
	}
}

/* Specific Button Styles -------------------- */

button.btn-big {
	@include type-setting(1);
	font-weight: bold;
	letter-spacing: 0.1rem;;
	color: $white;
	padding: 0.6rem 1.4rem;
	border: none;
	background-color: $black;
	
	&:hover {
		background-color: #555;
	}
}

button.btn-tertiary {
	@include type-setting(-2);
	color: $black;
	background-color: $grey-lightest;
	padding: 0.35rem 1rem;
}