// ==========================================================================
// General Icon Styles
// ==========================================================================

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

.rounded-icon-default {
	position: relative;
	display: flex;
	width: $base-line-height * 3;
    height: $base-line-height * 3;
    border-radius: 0.8em;
    background-color: transparent;
    border: 0.15rem solid #1c1e20;
    padding: 0.8rem;
    margin-bottom: $base-line-height;
    
    img {
    	width: 100%;
    }
}

.rounded-icon-big {
	position: relative;
	display: flex;
	justify-content: center;
  align-items: center;
	// width: $base-line-height * 4;
 //  height: $base-line-height * 3;
  border-radius: 0.4em;
  background-color: transparent;
  border: 0.15rem solid $white;
  padding: 0.8rem;
  margin-bottom: $base-line-height;
  @include type-setting(8);
  font-weight: 100;
}

.rounded-icon-big-black {
	position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
	width: $base-line-height * 4;
    height: $base-line-height * 4;
    border-radius: 0.8em;
    background-color: transparent;
    border: 0.15rem solid $black;
    padding: 0.8rem;
    margin-bottom: $base-line-height;
    @include type-setting(8);
    font-weight: 100;
}

.vorteil-number-bottom, .vorteil-number-top {
	@include type-setting(-1);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $black;
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;
	color: $white;
	border-radius: 0.3em;
	padding-left: 0.1rem;
}

.vorteil-number-bottom {
	top: 85%;
	right: 85%;
}

.vorteil-number-top {
	bottom: 85%;
	left: 85%;
}

// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

// Logo

.logo-wrap {
	color: $white;
}

.logo {
	width: 3.6rem;
    height: 2.3rem;
}

// Menu

.menu {
	position: relative;
	width: 27px;
	height: 21px;
	cursor: pointer;
	
	span {
	    background: white;
	    height: 2px;
	    width: 27px;
	    position: absolute;
	    transition:all 0.5s ease;
	    
	    &:first-child {
	    	top: 0px;
	    }
	    &:nth-child(2) {
	    	top: 8px;
	    }
	    &:nth-child(3) {
	    	top: 16px;
	    }
	}
	
	&:hover span {
		background: $grey-light;
	}
}

.transparent {
	opacity: 0;
}
.rotate-top {
	transform: rotatez(45deg);
	-webkit-transform-origin: 0%;
	left: 2px;
}
.rotate-bottom {
	transform: rotatez(-45deg);
	-webkit-transform-origin: 15%;
}

/* Content Icons -------------------- */

// Play

.play {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	fill: $white;
	margin: $base-line-height * 3 0;

	&:hover {
		
		#play-ellipse {
			opacity: 1;
		}
		#play-button {
			fill: $black;
		}
	}

	@include media('<=medium') {
		margin-bottom: $base-line-height * 4;
	}
}

// Countries

.europe, .asia, .america, .south-america, .africa {
	height: 3rem;
	transition: fill 200ms ease;
	cursor: pointer;
	
	&:hover {
		fill: $black;
	}
}

.asia {
	fill: $black;
}

.europe, .america, .south-america, .africa {
	fill: $grey-light;
}

// Travelcard Play

.tc-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: $black;
	width: 2rem;
	height: 2rem;
	
	&:hover .tc-play-button {
		fill: $grey;
	}
}
.tc-play-button {
	fill: $black;
}

// Download

.download {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: $black;
	width: 1rem;
	height: 1rem;
	
	&:hover {
		fill: $grey;
	}
}

/* Tiny Icons -------------------- */



/* Other Icons -------------------- */











