// ==========================================================================
// Vertical Rythm
// ==========================================================================

// $container-width: 750px;
// $container-height: 440px;

$base-font-size: 1rem;
$base-line-height: 1.5 * $base-font-size;

// Mayor Second

$type-settings: (
  	-4: (
    	font-size: 0.624rem,
    	line-height: $base-line-height / 2
  	),
  	-3: (
    	font-size: 0.702rem,
    	line-height: $base-line-height / 2
  	),
  	-2: (
    	font-size: 0.79rem,
    	line-height: $base-line-height
  	),
  	-1: (
    	font-size: 0.889rem,
    	line-height: $base-line-height
  	),
  	0: (
    	font-size: 1rem,
    	line-height: $base-line-height
  	),
  	1: (
    	font-size: 1.125rem,
    	line-height: $base-line-height
  	),
  	2: (
    	font-size: 1.266rem,
    	line-height: $base-line-height
  	),
  	3: (
    	font-size: 1.424rem,
    	line-height: $base-line-height
  	),
  	4: (
    	font-size: 1.602rem,
    	line-height: $base-line-height * 2
  	),
  	5: (
    	font-size: 1.802rem,
    	line-height: $base-line-height * 2
  	),
    6: (
      	font-size: 2.027rem,
      	line-height: $base-line-height * 2
    ),
    7: (
      	font-size: 2.281rem,
      	line-height: $base-line-height * 2
    ),
    8: (
		font-size: 2.566rem,
		line-height: $base-line-height * 2
    ),
    9: (
		font-size: 2.877rem,
		line-height: $base-line-height * 2
    ),
    10: (
		font-size: 3.247rem,
		line-height: $base-line-height * 3
    ),
    11: (
		font-size: 3.653rem,
		line-height: $base-line-height * 3
    )
);

@function type-scale($level) {
	@return map-get(
    	map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
	@return map-get(
    	map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

// ==========================================================================
// General Mixins
// ==========================================================================

// Web Fonts

@mixin font-face($family, $file) {
	@font-face {
		font-family: $family;
		src: url('#{$path-font}/#{$file}-webfont.eot');
		src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
			url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
			url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
	}
}

// Background Gradient

@mixin hero-gradient() {
	background: rgba(130,115,127,1);
	background: -webkit-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 75%);
	background: -o-linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 75%);
	background: linear-gradient(rgba(130,115,127,1) 0%, rgba(166,105,118,1) 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82737f', endColorstr='#a66976', GradientType=0 );
}

// Work Card
@mixin work-card {
	background: $white;
}










