// Descriptive Color Variables

$white          : #fff;
$black          : #1c1e20;
$grey           : #818181;
$grey-light		: #9a9a9a;
$grey-lightest 	: #f1f1f1;
$red 			: #ea655f;

// Old

$grey-smoke		: #594c5f;
$grey-dark		: #312933;
$grey-darkest	: #302b31;
$red-sky		: #da5463;

// Functional Color Variables

$color-prim         : $red;
$color-sec          : $red-sky;
$color-ter          : $grey-smoke;

$color-text-light   : $white;
$color-text-base    : $black;
$color-text-dark    : $black;

$color-border-light : $white;
$color-border-dark  : $grey-dark;

$color-link-default : $white;
$color-link-visited : $grey-light;
$color-link-hover 	: $grey;

$color-shadow       : rgba($black, 0.8);
$color-body         : $white;

// Font Stacks

// $stack-sans-serif 	: Helvetica, Arial, sans-serif;
// $stack-serif 		: serif;
// $stack-helvetica  	: 'Helvetica Neue', $stack-sans-serif;
// $stack-abolition  	: 'Abolition Regular', $stack-sans-serif;
// $stack-montserrat  	: 'Montserrat', $stack-sans-serif;

// Border Radius

$br: 10px;

// Asset Paths

$path-img  : '../img';
$path-font : '../fonts';

// Magic Number
// 1rem * 1.5 = 1.5rem

$mn 		: 1.618rem;

// Modular Scale

$ms-base	: 1rem;
$ms-1		: 1.618rem;
$ms-2		: 2.816rem;
$ms-3		: 4.236rem;
$ms-4		: 6.854rem;

$ms-01		: 0.618rem;
$ms-02		: 0.382rem;
$ms-03		: 0.236rem;



